.main {
    border: 2px solid black;
}

.specialties {
    border: 2px solid blue;
    height: 250px;
}

.specialty-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0px;
}

.classics {
    border: 2px solid red;
    height: 250px;
}

.classic-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart {
    border: 2px solid black;
    display: none;
    height: 200px;
    width: 200px;
}

.cart-title {
    font-weight: bold;
    text-align: center;
}

.cart-item {
    margin-top: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    border: 2px solid black;
    display: none;
}

.final-order-form {
    border: 2px solid black;
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.menu-item {
    border: 2px solid black;
    height: 80px;
    width: 80px;
    margin: 5px;
}

.menu-item-div {
    border: 1px solid red;
    height: 100%;
}

.menu-item-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.cart-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.covered-in-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.oreo-covering-options {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.cake-covering-options {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.cake-flavor {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.icing-flavors {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.drizzle-or-sprinkles {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.sprinkles-text {
    margin: 5px;
}

.add-to-cart {
    margin: 5px;
    margin-top: 10px;
    padding: 7px;
}

.quantity-label {
    /* border: 2px solid black; */
}

.quantity-section {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quantity-box {
    /* border:1px solid black; */
    width: 40%;
    text-align: center;
    pointer-events: none;
}

.quantity-number-section {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
}