.main {
    /* border: 2px solid black; */
    width: 100vw;
    padding: 0;
    margin: 0;
}

.specialties {
    /* border: 2px solid blue; */
    width: 100%;
}

.specialty-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    width: 100%;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px;
    text-align: center;
}

.classics {
    /* border: 2px solid red; */
}

.classic-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart {
    border: 2px solid black;
    display: none;
    height: 200px;
}

.cart-title {
    font-weight: bold;
    text-align: center;
}

.cart-item {
    margin-top: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    border: 2px solid black;
    display: none;
}

.final-order-form {
    border: 2px solid black;
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.menu-item {
    /* border: 2px solid black; */
    /* padding: 0px 10px; */
    margin: 35px 5px;
    width: 70%;
}

.menu-item-div {
    /* border: 1px solid red; */
    /* padding: 0 10px; */
    height: 100%;
}

.menu-item-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.cart-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.covered-in-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.oreo-covering-options {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.cake-covering-options {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.cake-flavor {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.icing-flavors {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.drizzle-or-sprinkles {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.sprinkles-text {
    margin: 5px;
}

.add-to-cart {
    margin: 5px;
    margin-top: 10px;
    padding: 7px;
}

.quantity-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quantity-box {
    width: 40%;
    text-align: center;
    pointer-events: none;
}

.quantity-number-section {
    display: flex;
    justify-content: center;
}

.check-out-btn {
    margin: 5px;
    padding: 7px;
}

.view-cart {
    /* margin: 5px; */
    width: 100px;
    padding: 10px;
    display: flex;
    align-self: center;
    /* height: 50px; */
    background: transparent;
    border: none;
}
.img-container {
    width: 50px;
    /* height: 10px; */
}
.cart-img {
    /* width: 100%; */
    /* height: 100%; */
}

.close-cart {
    display: inline-block;
    border: 1px solid black;
    background-color: #888;
    padding: 3px;
    width: 50%;
    font-size: 12px;
}

.form-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.menu-item-section {
    border: 2px solid black;
    padding: 10px 10px;
    height: 100%;
}

.menu-image {
    width: 100%;
}

.menu-item-title {
    font-weight: bold;
    margin: 5px 0px;
    font-size: 1.2rem;
}

.menu-item-price {
    font-size: 1.15rem;
    margin: 5px;
}

.menu-item-description {
    font-size: 16px;
    padding: 5px;
}

.title-price-section {
    display: flex;
}

@media only screen and (min-width: 1000px){
    .menu-item-div {
        border: 2px solid red;
        width: 30%;
    }

    .specialties {
        /* display: flex; */
    }
}